/* Custom Style */
/* TODO: TURN ALL COLORS INTO HEX CODES AND/OR rgba */
html, body {
    height: 100%;
    font-size: 100%;
    background-color: #EDEDED;
}
p {
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}
h2 {
    font-family: 'Muli', sans-serif;
}
h3 {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
}
#navbar-collapse ul.nav li a {
	font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    font-weight: 500;
    color: #FFF;
}
#navbar-collapse ul.nav li a:hover {
	background-color: darkslategray;
}

#nav-logo {
    max-width: 120px;
    position: relative;
    top: -7px;
    padding: 5px;
    background: rgba(255,255,255,0.8);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.jumbotron {
	padding: 100px;
    height: 100vh;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/bg/abbey-park.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #F5F5F5;
    line-height: 150%;
}
.cover-text {
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 5px;
}

.top-text {
    background: rgba(255,255,255,0.6);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    color: #000;
    padding-bottom: 25px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

#logo-img {
    margin: 0 auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.page-header {
    border: none;
}
section {
    text-align: center;
    padding: 200px 100px;
}
.section-header {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    border-bottom: 1px solid #FFF;
    margin-bottom: 40px;
}
.sub-sec-header {
	margin-top: 5%;
    font-family: 'Muli', sans-serif
    font-weight: 700;
}

.about-section p {
	text-align: left;
    line-height: 150%;
}
.sec-2 {
    margin-top: 80px;
}
#aboutGU {
	margin: 100px 0;
}

.about-collage {
    margin: 0 auto 50px;
}

img.about-photos {
    margin-top: 20%;
}
.quote {
    margin-bottom: 20px;
}

.v-center-100 {
    min-height: inherit;
    display: flex;
    /* FIXME: FIGURE OUT WHY FLEXBOX DOESNT WORK ONCE UPLOADED */ 
    /*
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    */
    justify-content: center;
    flex-direction: column;
}
.featurette-heading {
	margin-top: 0;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    text-align: center;
}
.featurette-image {
	max-height: 450px;
    min-height: 230px;
    border-radius: 10%;
}
.fader-image {
	opacity: 0;
}
.profile {
    max-width: 300px;
    margin: 0 auto;
}
.tv-projects {
	margin: 50px auto 70px;
}

.proj-sect-lft {
    text-align: left;
    line-height: 150%;
}

.proj-sect-lft h2 {
	margin: 0;
    padding: 0 5% 5%;
}
#teleProjects {
	margin: 100px 0;
}
.embLink:link {
	color: #000;
}
.embLink:hover {
	font-weight: 700;
    text-decoration: none;
}
#contactInfo {
	text-align: center;
    font-family: 'Monsterrat', sans-serif;
    padding: 200px 0;
}
.contact {
	list-style: none;
}
#contactInfo a {
	text-decoration: none;
    color: #000;
}
#contactInfo a:hover {
	color: #808080;
}
#contactInfo i {
	font-size: 50px;
    margin: 10px 15px 30px 15px;
}
#contactInfo p {
	font-size: 20px;
    font-weight: 400;
}


footer {
    background: rgba(0,0,0,0.9);
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}
footer a {
    color: #b22222;
    width: 100%;
}
footer a:hover {
    color: #f0fff0;
    text-decoration: none;
}

/* Media Queries */

@media only screen and (max-width: 868px) {
/* ==== IN EACH OF THESE SECTIONS THIS WILL SCALE *ALL* RESPONSIVE TEXT ELEMENTS WITH em,rem,%,etc. ==== */
    html, body {
        font-size: 90%;
    }
    img.about-photos {
    margin-top: 0;
}
}

@media only screen and (max-width: 792px) {
    html, body {
        font-size: 85%;
    }
    #navbar-collapse ul.nav li a {
        font-size: 14px;
    }
    .navbar-brand {
        font-size: 150%;
    }
    .jumbotron {
        padding: 20px;
        padding-top: 50px;
    }
    p {
        font-size: 14px;
    }
    .section-header {
        font-size: 2em;
        font-weight: 700;
        letter-spacing: 110%;
}
/* CHANGE BODY FONT SIZE WHEN SWITCHING DOWN SO EVERYTHING SCALES ACCORDINGLY */
    section {
        text-align: center;
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 528px){
    html, body {
        font-size: 65%;
    }
    #navbar-collapse ul.nav li a {
        font-size: 14px;
    }
    .navbar-brand {
        font-size: 250%;
    }
    /* LEAVE IN AS OPTION TO SHOW ALAN */
    /*
    .jumbotron {
        background-image: url(../images/bg/cle_skyline_elise_opt.jpg);
    */
    }
    p.lead {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    h2.section-header {
        font-size: 3em;
        border-bottom: 1px solid white;
    }
    #contactInfo {
	   font-size: 16px;
}
}

















